
#grid-container {
    border-style: solid;
    border-color: red;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 960px;
    height: 960px;
}

#grid {
    width: inherit;
    height: inherit;
}
.row {
    display: flex;
}

.cell {
    background-color: white;
}

.hovered {
    background-color: red;
}

#wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button#reset {
    margin-bottom: 10px ;
    padding: 4px 8px;
}